<!-- Content Heading -->
<% if(title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- Message Block -->
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<!-- Account Management Display -->
<%- grid %>

<!-- <h2>Welcome Happy</h2>

<p>You're logged in.</p>

<p><a href='/update/:account_id'>Edit Account Information</a></p>

<h3>Inventory Management</h3>

<p><a href="/inv/" title="Click to navigate to the inventory management">Manage Inventory</a></p> -->