<!-- Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- Message Block -->
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<!-- Login Display -->
<form action="/account/login" method="post">
    <label class="lbl-properties">Email:
        <input type="email" id="email" name="account_email" placeholder="Enter a valid email address" required value="<%= locals.account_email %>">
    </label>
    <label class="lbl-properties">Password:
        <!-- <div><i>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</i></div> -->
        <input type="password" id="password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
    </label>
    <div><i>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</i></div>

    <div class="form-row">
        <!-- <button type="submit" class="btn-submit" id="btn-submit">Login</button> -->
        <input type="submit" name="submit" id="regbtn" class="btn-submit" value="Login">
        <!-- <input type="hidden" name="action" value="Login"> -->
    </div>

    <p>No Account? <a href="/account/register">Sign-Up</a></p>
</form>