<header>
    <div id="top-header">
        <a href="/" id="logo" title="Return to home page">CSE Motors</a>
          
        <!-- <a href="/account/" title="Click to navigate to the account management page">Welcome Basic</a>
        <a title="Click to log out" id="account" href="/account/login">Logout</a> -->
        <a title="Click to log in" id="account" href="/account/login">My Account</a>
    </div>
</header>