<!-- Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- Message Block -->
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<!-- Add Classification Display -->
<form action="/inv/addClassification" method="post">
    <label class="lbl-properties">Classification Name:
        <input type="text" name="classification_name" id="classification_name" pattern="[a-zA-z]{1,}" required>
    </label>
    <p class="classification_name">Classification name cannot contain a space or special character</p>

    <div class="form-row">
        <input type="submit" name="submit" id="regbtn" class="btn-submit" value="Add Classification">
    </div>
</form>