<!-- Build the Error View -->
<div class="error-container">
    <% if (title) { %>
    <h1 class="error-title"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

    <p><%- message %></p>
</div>